<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
           
            <nav>
                <a href="{{ '/' | relative_url }}" {% if page.url == "/" %}class="current"{% endif %}>Home</a>
                <a href="{{ '/people' | relative_url }}" {% if page.url contains '/people' %}class="current"{% endif %}>People</a>
                <a href="{{ '/research' | relative_url }}" {% if page.url contains '/research' %}class="current"{% endif %}>Research</a>
                <a href="{{ '/publications' | relative_url }}" {% if page.url contains '/publications' %}class="current"{% endif %}>Publications</a>
                <a href="{{ '/funding' | relative_url }}" {% if page.url contains '/funding' %}class="current"{% endif %}>Funding</a>
                <a href="{{ '/contact' | relative_url }}" {% if page.url contains '/contact' %}class="current"{% endif %}>Contact</a>
            </nav>
        </div>
    </header>
    <div class="main-container">
        

        <main>
            {{ content }}
        </main>

        <footer>
            <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
        </footer>
    </div>
</body>
</html>
